Flask==3.0.3
Flask-CORS==5.0.0
opencv-python==4.10.0.84
tensorflow==2.12.0  # Adjust if you choose to upgrade to 2.17.0 or another version
mediapipe==0.10.14
numpy>=1.24.1  # Adjust based on compatibility
pandas==2.2.3
gunicorn
